header {
    position: fixed; /* 스크롤 해도 항상 위치 고정함 */
    top: 0;
    right: 0;
    left: 0;
    z-index: 100; /* 책 올릴 때 header 위로 올라가는 문제 해결 */
}

nav {
    height: 120px;
}

.nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #FFF;
}

.nav-logo {
    position: absolute;
    display: flex;
    width: 200px;
    height: 70px;
}

li {
    list-style: none;
}

.nav-list {
    display: flex;
    padding: 0;                     /* 내부 여백 제거 */
}

.nav-list img {
    width: 80px;
    height: 80px;
}

.nav-item {
    margin-left: 15px;              /* 이미지 사이의 간격 조절 */
}

hr {
    height: 3px;
    background: #41B96F;
    border: 0;
    margin-top: 0;
}

main {
    margin-top: calc(120px + 10px);
}

.top {
    display: flex;
    position: absolute;
    margin-left: 30px;
    margin-top: -2%;
}

.todayFore {
    display: flex;
    justify-content: center;
    flex-direction: column;
    column-gap: 130px;
    row-gap: 5%;
    width: 50vw;
    height: 160vh;
    border-radius: 90px;
    margin-left: 25%;
    margin-top: 10%;
    background-color: #F5F5F5;
}

.scoreViewRight, .scoreViewLeft {
    width: 10vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fore-container{
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    column-gap: 12%;
}

.ssg-logo,
.lotte-logo,
.kia-logo,
.hanwha-logo,
.lg-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 18vh;
    margin-left: 12px;
}

.doosan-logo,
.samsung-logo,
.kiwoom-logo,
.kt-logo,
.nc-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 18vh;
}

.imgTeam:nth-child(2n-1) {
    margin-left: 10%;
}

.imgTeam:nth-child(2n) {
    margin-left: 45%;
}

.doosan,
.samsung,
.kiwoom,
.kt,
.nc {
    width: 17vw;
    height: 20vh;
    margin-top: 10px
}

.nc {
    width: 7vw;
    height: 15vh;
}

.kt,
.nc {
    margin-top: -4px;
}

.ssg,
.lotte,
.kia,
.hanwha,
.lg {
    width: 9vw;
    height: 18vh;
}

.lotte {
    width: 16vw;
    height: 25vh;
}

.scoreShowRight, .scoreShowLeft {
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    background-color: #FDFDFD;
    box-shadow: inset 3px 3px 10px #C8C8C8;
}

.vs {
    display: flex;
    margin-top: 5%;
}

.score {
    display: flex;
    justify-content: center;
    width: 7vw;
    margin-top: -2%;
}

.score > p {
   font-size: 1.3rem;
}

.scoreViewRight .bi-plus,
.scoreViewLeft .bi-plus {
    color: #FFC804;
}

.scoreViewRight .bi-dash,
.scoreViewLeft .bi-dash {
    color: #FFC804;
}

.controll {
    display: flex;
    justify-content: center;
    position: absolute;
    column-gap: 85%;
}

.gogo {
    display: flex;
    justify-content: center;
    margin: 3%;
    column-gap: 5%;
}

.ok,
.replay {
    width: 20vw;
    height: 7vh;
    border-radius: 10px;
    font-size: 1.3rem;
    color: #FFF;
    border: 0;
    background-color: #41B96F;
}

.scoreTable {
    display: flex;
    column-gap: 50%;
    justify-content: center;
    align-items: center;
}