<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>선수 구매</title>
  <link rel="stylesheet" th:href="@{/css/buyPlayer.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>

<header>
  <nav class="nav container">
    <a class="nav-logo">
      <li class="nav-item">
        <a th:href="@{/main}" class="nav-link">
          <img th:src="${logo}" th:alt="logo">
        </a>
      </li>
    </a>

    <ul class="nav-list">
      <!-- 승부예측 이미지 -->
      <li class="nav-item"><a th:href="@{/forecast}" class="nav-link"><img th:src="${vs}" alt=""></a></li>

      <!-- 야구장 이미지 -->
      <li class="nav-item"><a th:href="@{/ground}" class="nav-link"><img th:src="${club}" alt=""></a></li>

      <!-- FA 예약 이미지 -->
      <li class="nav-item"><a th:href="@{/store}" class="nav-link"><img th:src="${FA}" alt=""></a></li>

    </ul>
  </nav>

  <!-- 구분선 -->
  <hr>

</header>

<main>

  <div class="top">
    <a th:href="@{/store}" class="back"><img th:src="${back}" alt="back"></a>

    <!-- 코인 표시 -->
    <div class="coin">
      <div class="money">
        <h3 th:text="${currentUserCoin}"></h3>
      </div>
      <img th:src="${coin}" class="coinImg">
    </div>
  </div>

  <div class="main">

    <div class="playerImg">
      <img th:src="${player.imgLink}" alt="playerImg">
    </div>

    <div class="Container">
      <div class="title">
        <div class="name">
          <h1 th:text="${player.backNum + '. ' + player.name}"></h1>
        </div>

        <div class="coinContainer">
          <div class="coinImg">
            <img th:src="${coin}" alt="coin">
          </div>

          <div class="moneyContainer">
            <h3 th:text="${player.price}"></h3>
          </div>
        </div>
      </div>

      <div class="inforContainer">
        <div class="infor">
          <h4>생년월일: <span th:text="${player.birth}"></span></h4>
          <h4>포지션: <span th:text="${player.position}"></span></h4>
          <h4>신장/체중: <span th:text="${player.height + 'cm / ' + player.weight + 'kg'}"></span></h4>
        </div>
      </div>

      <div class="buttons">
        <button class="btnBasket" id="btnBuy" th:data-player-id="${player.id}">구매하기</button>
        <button class="wish" th:onclick="addwishlist()"><i class="bi bi-suit-heart-fill"></i></button>
      </div>

    </div>

  </div>

</main>

<script type="text/javascript" th:src="@{/js/buyPlayer.js}" th:line="javascript"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>