<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>승부예측</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" th:href="@{/css/forecast.css}">
</head>
<body>

<header>
  <nav class="nav container">
    <a class="nav-logo">
      <li class="nav-item">
        <a th:href="@{/main}" class="nav-link">
          <img th:src="${logo}" th:alt="logo">
        </a>
      </li>
    </a>

    <ul class="nav-list">
      <!-- 승부예측 이미지 -->
      <li class="nav-item"><a th:href="@{/forecast}" class="nav-link"><img th:src="${vs}" alt=""></a></li>

      <!-- 야구장 이미지 -->
      <li class="nav-item"><a th:href="@{/ground}" class="nav-link"><img th:src="${club}" alt=""></a></li>

      <!-- FA 예약 이미지 -->
      <li class="nav-item"><a th:href="@{/store}" class="nav-link"><img th:src="${FA}" alt=""></a></li>

    </ul>
  </nav>

  <!-- 구분선 -->
  <hr>

</header>

<main>

  <div class="top">
    <h1>승부예측</h1>
  </div>

  <!-- 코인 표시 -->
  <div class="coin">
    <div class="money">
      <h3 th:text="${currentUserCoin}"></h3>
    </div>
    <img th:src="${coin}" class="coinImg">
  </div>

  <div class="todayFore">
    <div class="fore-container">
      <div class="scoreViewLeft">
        <div class="ssg-logo logo"><img th:src="${SSG}" class="ssg"></div>
        <div class="scoreShowRight">
          <div class="score"><p>0</p></div>
          <div class="controll">
            <i class="bi bi-dash"></i>
            <i class="bi bi-plus"></i>
          </div>
        </div>
      </div>

      <div class="scoreTable">
        <div class="num right">
          <h2>0</h2>
        </div>

        <div class="vs">
          <h1>VS</h1>
        </div>

        <div class="num left">
          <h2>0</h2>
        </div>
      </div>

      <div class="scoreViewRight">
        <div class="doosan-logo logo"><img th:src="${Doosan}" class="doosan"></div>
        <div class="scoreShowLeft">
          <div class="score"><p>0</p></div>
          <div class="controll">
            <i class="bi bi-dash"></i>
            <i class="bi bi-plus"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="fore-container">
      <div class="scoreViewLeft">
        <div class="lotte-logo logo"><img th:src="${Lotte}" class="lotte"></div>
        <div class="scoreShowRight">
          <div class="score"><p>0</p></div>
          <div class="controll">
            <i class="bi bi-dash"></i>
            <i class="bi bi-plus"></i>
          </div>
        </div>
      </div>

      <div class="scoreTable">
        <div class="num right">
          <h2>0</h2>
        </div>

        <div class="vs">
          <h1>VS</h1>
        </div>

        <div class="num left">
          <h2>0</h2>
        </div>
      </div>

      <div class="scoreViewRight">
        <div class="samsung-logo logo"><img th:src="${Samsung}" class="samsung"></div>
        <div class="scoreShowLeft">
          <div class="score"><p>0</p></div>
          <div class="controll">
            <i class="bi bi-dash"></i>
            <i class="bi bi-plus"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="fore-container">
      <div class="scoreViewLeft">
        <div class="kia-logo logo"><img th:src="${KIA}" class="kia"></div>
        <div class="scoreShowRight">
          <div class="score"><p>0</p></div>
          <div class="controll">
            <i class="bi bi-dash"></i>
            <i class="bi bi-plus"></i>
          </div>
        </div>
      </div>

      <div class="scoreTable">
        <div class="num right">
          <h2>0</h2>
        </div>

        <div class="vs">
          <h1>VS</h1>
        </div>

        <div class="num left">
          <h2>0</h2>
        </div>
      </div>

      <div class="scoreViewRight">
        <div class="kiwoom-logo logo"><img th:src="${Kiwoom}" class="kiwoom"></div>
        <div class="scoreShowLeft">
          <div class="score"><p>0</p></div>
          <div class="controll">
            <i class="bi bi-dash"></i>
            <i class="bi bi-plus"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="fore-container">
      <div class="scoreViewLeft">
        <div class="hanwha-logo logo"><img th:src="${Hanwha}" class="hanwha"></div>
        <div class="scoreShowRight">
          <div class="score"><p>0</p></div>
          <div class="controll">
            <i class="bi bi-dash"></i>
            <i class="bi bi-plus"></i>
          </div>
        </div>
      </div>

      <div class="scoreTable">
        <div class="num right">
          <h2>0</h2>
        </div>

        <div class="vs">
          <h1>VS</h1>
        </div>

        <div class="num left">
          <h2>0</h2>
        </div>
      </div>

      <div class="scoreViewRight">
        <div class="kt-logo logo"><img th:src="${KT}" class="kt"></div>
        <div class="scoreShowLeft">
          <div class="score"><p>0</p></div>
          <div class="controll">
            <i class="bi bi-dash"></i>
            <i class="bi bi-plus"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="fore-container">
      <div class="scoreViewLeft">
        <div class="lg-logo logo"><img th:src="${LG}" class="lg"></div>
        <div class="scoreShowRight">
          <div class="score"><p>0</p></div>
          <div class="controll">
            <i class="bi bi-dash"></i>
            <i class="bi bi-plus"></i>
          </div>
        </div>
      </div>

      <div class="scoreTable">
        <div class="num right">
          <h2>0</h2>
        </div>

        <div class="vs">
          <h1>VS</h1>
        </div>

        <div class="num left">
          <h2>0</h2>
        </div>
      </div>

      <div class="scoreViewRight">
        <div class="nc-logo logo"><img th:src="${NC}" class="nc"></div>
        <div class="scoreShowLeft">
          <div class="score"><p>0</p></div>
          <div class="controll">
            <i class="bi bi-dash"></i>
            <i class="bi bi-plus"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gogo">
    <button class="ok">예측 완료</button>
    <button class="replay">예측 다시하기</button>
  </div>>

</main>

<script th:inline="javascript">
  var loggedInUser = [[${loggedInUser != null} ? ${loggedInUser.id} : null]];
  function getLoggedInUserId() {
      if (loggedInUser) {
          return loggedInUser.id;
      } else {
          console.error('User is not logged in');
          return null;
      }
  }
</script>

<script type="text/javascript" th:src="@{/js/forecast.js}" th:line="javascript"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>