<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>로그인</title>
</head>
<body>

    <header>
        <nav class="nav container">
            <a class="nav-logo">
                <li class="nav-item">
                    <a th:href="@{/main}" class="nav-link">
                        <img th:src="@{images/logo.jpg}" th:alt="logo">
                    </a>
                </li>
            </a>

            <ul class="nav-list">
                <!-- 승부예측 이미지 -->
                <li class="nav-item"><a th:href="@{/forecast}" class="nav-link"><img th:src="@{images/vs.jpg}" alt=""></a></li>

                <!-- 야구장 이미지 -->
                <li class="nav-item"><a th:href="@{/ground}" class="nav-link"><img th:src="@{images/club.jpg}" alt=""></a></li>

                <!-- FA 예약 이미지 -->
                <li class="nav-item"><a th:href="@{/store}" class="nav-link"><img th:src="@{images/FA.jpg}" alt=""></a></li>

            </ul>
        </nav>

        <!-- 구분선 -->
        <hr>

    </header>

    <main>

        <p>로그인</p>

        <!-- 에러 메세지 -->
        <script th:inline="javascript">
            var errorMessage = [[${error}]];

            if (errorMessage) {
                alert(errorMessage);
            }
        </script>
        <!-- 이메일 입력창 -->
        <form th:action="@{/login}" method="post">
            <div class="email_container">
                <h5 style="margin-left: -50px">아이디</h5>
                <div class="input_container">
                    <input class="email_input" type="text" th:name="email">
                    <div class="error" id="idErrorMessage" style="visibility: hidden">아이디 틀림 에러 메시지</div>
                </div>
            </div>

            <!-- 비밀번호 입력창 -->
            <div class="pw_container">
                <h5 style="margin-left: -40px">비밀번호</h5>
                <div class="input_container">
                    <input class="pw_input" type="password" th:name="password">
                    <div class="error" id="pwErrorMessage" style="visibility: hidden">비밀번호 틀림 에러 메시지</div>
                </div>
            </div>

            <!-- 글씨 클릭 시 회원가입 화면으로 이동 -->
            <h5 class="join"><a th:href="@{/join}">회원가입 하러가기</a></h5>

            <!-- 로그인 버튼 -->
            <div class="button_container">
                <input type="submit" value="로그인" class="button">
            </div>
        </form>

    </main>

    <script type="text/javascript" th:src="@{/js/login.js}" th:line="javascript"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>